Package: com.iter99.spotifyblue
Name: SpotifyBlue
Depends: mobilesubstrate, ws.hbang.common (>= 1.13)
Version: 1.4
Architecture: iphoneos-arm
Description: Opens Music Apps when you Connect a Bluetooth audio device.
Maintainer: iTer99 <hoan.nguyen.16999@gmail.com>
Author: iTer99 & Kodey Thomas <hoan.nguyen.16999@gmail.com>
Section: Tweaks
