<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	<dict>
    	<key>cell</key>
    	<string>PSGroupCell</string>
    	<key>headerCellClass</key>
    	<string>HBImageTableCell</string>
    	<key>height</key>
    	<integer>250</integer>
    	<key>icon</key>
    	<string>header.png</string>
</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SpotifyBlue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iter99.spotifyblueprefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.iter99.spotifyblueprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Music Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
      			<false/>
			<key>defaults</key>
			<string>com.iter99.spotifyblueprefs</string>
			<key>key</key>
			<string>spotifyEnabled</string>
			<key>label</key>
			<string>Open Spotify Automatically</string>
			<key>PostNotification</key>
			<string>com.iter99.spotifyblueprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iter99.spotifyblueprefs</string>
			<key>key</key>
			<string>appleEnabled</string>
			<key>label</key>
			<string>Open Apple Music Automatically</string>
			<key>PostNotification</key>
			<string>com.iter99.spotifyblueprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
      			<false/>
			<key>defaults</key>
			<string>com.iter99.spotifyblueprefs</string>
			<key>key</key>
			<string>soundcloudEnabled</string>
			<key>label</key>
			<string>Open SoundCloud Automatically</string>
			<key>PostNotification</key>
			<string>com.iter99.spotifyblueprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iter99.spotifyblueprefs</string>
			<key>key</key>
			<string>nhaccuatuiEnabled</string>
			<key>label</key>
			<string>Open Nhaccuatui Automatically</string>
			<key>PostNotification</key>
			<string>com.iter99.spotifyblueprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iter99.spotifyblueprefs</string>
			<key>key</key>
			<string>zingEnabled</string>
			<key>label</key>
			<string>Open Zing Mp3 Automatically</string>
			<key>PostNotification</key>
			<string>com.iter99.spotifyblueprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>iTer99</string>
			<key>user</key>
			<string>ngthienhoan</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>ThomasKodey</string>
			<key>user</key>
			<string>ThomasKodey</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Github</string>
			<key>subtitle</key>
			<string>Open Source On Github</string>
			<key>icon</key>
			<string>github@2x.png</string>
			<key>url</key>
			<string>https://github.com/iTer99/SpotifyBlue</string>
		</dict>
		<dict>
    			<key>cell</key>
    			<string>PSGroupCell</string>
    			<key>footerText</key>
    			<string>This tweak no need Respring, just enabled music app you want and disable all</string>
		</dict>
		<dict>
    			<key>cell</key>
    			<string>PSGroupCell</string>
    			<key>footerText</key>
    			<string>Made with ❤️ by iTer99 Dev 🥰</string>
		</dict>
	</array>
	<key>title</key>
	<string>SpotifyBlue</string>
</dict>
</plist>
